@media (max-width: 1600px) {}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    .product-item p {
        font-size: 0.5em;
    }
    #toTop {
        display: none;
    }
}

@media (max-width: 900px) {
    nav {
        display: none;
    }
}

@media (max-width: 800px) {
    h4 {
        font-size: 1em;
    }
    h3 {
        text-align: center;
        font-size: 1.5em;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav_list_item {
        display: none;
    }
    .logo {
        margin-top: 0;
        max-width: 30%;
    }

    .main-slider {
        width: 100%;
    }
    .main-slider.owl-carousel .owl-nav .owl-next,
    .main-slider.owl-carousel .owl-nav .owl-prev {
        display: none;
    }
    .main-slider.owl-carousel .owl-dots {
        display: none;
    }
    .about .main-btn {
        margin-top: 5%;
    }
    .product-item {
        width: 13%;
    }
    .about-text p {
        margin-top: 3%;
    }
    .btn-date {
        margin-top: 5%;
    }
    .carrier-content-list {
        display: none;
    }
    .map {
        margin-bottom: 2%;
    }
    .about-logo {
        width: 35%;
    }
}