html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: RobotoBk;
  src: url(../fonts/Robotobk.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/RobotoLight/RobotoLight.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(../fonts/RobotoBold/RobotoBold.ttf);
}
@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/RobotoMedium/RobotoMedium.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/RobotoRegular/RobotoRegular.ttf);
}
@font-face {
  font-family: RobotoTh;
  src: url(../fonts/RobotoTh.ttf);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "RobotoRegular";
  font-size: 1em;
  width: 100%;
  transition: width 1s;
  overflow-x: hidden;
}
h1 {
  font-size: 4.4em;
  font-family: "Robotobk";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .25em;
}
h2 {
  font-family: "Robotobk";
  font-size: 3.75em;
  text-align: center;
  letter-spacing: .25em;
}
h3 {
  letter-spacing: .25em;
  font-family: "Robotobk";
  font-size: 2.25em;
}
h4 {
  font-family: "RobotoLight";
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .1em;
}
h5 {
  font-family: "RobotoRegular";
  font-size: 1.8em;
  text-align: center;
  letter-spacing: .1em;
}
img {
  width: 100%;
  display: block;
}
.main-btn {
  width: 17em;
}
.main-btn a {
  display: flex;
  align-items: baseline;
  font-family: "RobotoRegular";
  font-weight: bold;
  font-size: 1.875em;
  letter-spacing: .1em;
  color: #000;
  border: none;
  background: none;
  outline: none;
}
.main-btn a:hover {
  text-decoration: none;
  color: #000;
}
.main-btn:hover img {
  transform: translateX(0.7em);
}
.main-btn img {
  width: .5em;
  margin-left: .5em;
  transition: all 0.4s ease-in-out;
}
#toTop {
  width: 5em;
  padding: .5em 15px;
  position: fixed;
  bottom: 2em;
  right: 1%;
  cursor: pointer;
  display: none;
  z-index: 666;
}
#toTop:hover img {
  background: rgba(0, 0, 0, 0.9);
}
nav {
  font-family: "RobotoRegular";
  width: 100%;
  position: absolute;
  z-index: 999;
}
.nav-content {
  margin-top: 2%;
  width: 100%;
}
.logo {
  max-width: 75%;
  transition: all .3s;
  transform: scale(1);
}
.logo:hover {
  transition: 1;
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}
.nav_list {
  width: 100%;
}
.nav_list .nav_list_item {
  padding-right: 3em;
  margin-bottom: 20px;
}
.nav_list .nav_list_item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 0.18em;
  outline: none;
}
.nav_list .nav_list_item::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s;
  margin-top: 0.5em;
}
.nav_list .nav_list_item:hover:after {
  color: #fff;
  text-decoration: none;
  transform: scale(1);
}
.language li {
  color: #fff;
  font-size: 1.25em;
}
.nav_list li:hover > ul {
  display: block;
}
.nav_list li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}
.nav_list li ul li {
  padding-top: 10px;
}
.nav_list li ul li a {
  font-size: 16px;
  margin-top: 10px;
}
header {
  background-image: url(../img/main-page/main-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}
header h1 {
  color: #fff;
  letter-spacing: .25em;
  margin-top: 15%;
}
header h4 {
  color: #fff;
  margin-top: 3%;
}
.products {
  margin-top: 10%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
.product-item {
  width: 4%;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;
}
.product-item:last-child {
  width: 8%;
}
.product-item p {
  text-align: center;
  text-transform: uppercase;
  padding-top: 25%;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 0.8125em;
  line-height: 1.2;
  letter-spacing: .2em;
  color: #fff;
}
.scroll-button {
  max-width: 4%;
  position: absolute;
  bottom: 7%;
  right: 50%;
  margin-right: -2%;
}
.about {
  width: 100%;
  background-color: #fff;
}
.about h2 {
  color: #000;
  padding-top: 4%;
  padding-bottom: 4%;
}
.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.about-text {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.about-text p {
  font-family: "RobotoRegular";
  font-size: 1.5em;
  letter-spacing: .1em;
  line-height: 1.5;
  margin-top: 20%;
}
.about .main-btn {
  margin-top: 15%;
  margin-left: auto;
}
.main-slider {
  padding: 4%;
}
.main-slider.owl-carousel .owl-nav .owl-next,
.main-slider.owl-carousel .owl-nav .owl-prev {
  width: 1.875em;
  height: 1.875em;
  display: block;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  outline: none;
}
.main-slider.owl-carousel .owl-nav .owl-next {
  background-image: url(../img/main-page/slider-right.png);
  right: 0;
}
.main-slider.owl-carousel .owl-nav .owl-prev {
  background-image: url(../img/main-page/slider-left.png);
  left: 0;
}
.main-slider.owl-carousel .owl-dots {
  text-align: center;
}
.main-slider.owl-carousel button.owl-dot {
  background-color: #E9E9E9;
  width: 10px;
  height: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  margin: 6px;
  margin-top: 15px;
  outline: none;
}
.main-slider.owl-carousel button.owl-dot.active {
  background-color: #ADADAD;
  border: 1px solid #ADADAD;
}
.carrier {
  background: url(../img/main-page/carrier-bg.png) no-repeat;
  background-size: cover;
  width: 100%;
}
.carrier h2 {
  color: #fff;
  letter-spacing: .25em;
  margin-top: 3%;
}
.carrier h4 {
  color: #fff;
  letter-spacing: .15em;
  margin-top: 2%;
}
.carrier-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-bottom: 6%;
}
.carrier-content-list {
  width: 100%;
  margin-left: 7%;
  margin-top: 9%;
}
.carrier-content-list .list {
  padding-bottom: 28%;
}
.carrier-content-list .list li {
  font-family: "RobotoRegular";
  font-size: 1.875em;
  list-style: disc;
  padding-bottom: 1em;
  color: #fff;
  letter-spacing: .25em;
}
.carrier .main-btn {
  margin-top: 18%;
}
.carrier .main-btn a {
  color: #fff;
  font-weight: 400;
}
.carrier-content-form {
  margin-left: 15%;
}
.carrier-form {
  display: flex;
  flex-direction: column;
  font-family: "Robotoregular";
  border: 2px solid #fff;
  max-width: 590px;
  padding: 2%;
  margin-right: 8%;
}
.carrier-form input,
.carrier-form label,
.carrier-form textarea {
  color: #fff;
  letter-spacing: .2em;
}
.carrier-form label {
  font-size: 1em;
  padding-bottom: 2%;
}
.carrier-form input {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 1.1em;
  margin-bottom: 7%;
}
.carrier-form textarea {
  font-size: 1.1em;
  background: none;
  border: 2px solid #fff;
  height: 200px;
  outline: none;
  margin-bottom: 5%;
  resize: none;
}
.carrier-form .area-padding {
  margin-bottom: 6%;
}
.carrier-form #fileFF {
  border: none;
}
.carrier-form #submitFF {
  border: none;
  background: none;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-family: "RobotoRegular";
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: .2em;
  text-decoration: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.carrier-form #submitFF img {
  width: .5em;
  height: .5em;
  margin-left: .5em;
  transition: all 0.4s ease-in-out;
}
.carrier-form #submitFF:hover img {
  transform: translateX(0.7em);
}
.carrier-form img {
  width: 2em;
  height: 2em;
  margin-bottom: 30px;
}
#putFile {
  background: url(../img/main-page/attach-icon.png) no-repeat;
  margin-bottom: 2%;
  padding-bottom: 4%;
  font-weight: normal;
  border: none;
  font-size: 1em;
  letter-spacing: .2em;
  text-decoration: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding-left: 15%;
}
.lastnews {
  background: #fff;
  width: 100%;
}
.lastnews h2 {
  color: #000;
  margin-top: 5%;
  margin-bottom: 5%;
}
.lastnews-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7%;
}
.lastnews-text h3 {
  margin-top: 3%;
}
.lastnews-text span {
  text-transform: uppercase;
}
.lastnews-text p {
  font-size: 1.5em;
  font-family: "RobotoRegular";
  line-height: 1.7em;
  letter-spacing: .15em;
  padding-top: 5%;
}
.btn-date {
  display: flex;
  justify-content: space-between;
  margin-top: 21%;
}
.news-date p {
  font-size: 1em;
  font-family: "RobotoRegular";
}
.lastnews .main-btn {
  margin-bottom: 5%;
}
.help {
  background: url(../img/main-page/help-bg.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.help h2 {
  color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
}
.contacts h2 {
  color: #000;
  margin-top: 6%;
  margin-bottom: 8%;
}
.contacts-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8%;
}
.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.address p {
  font-size: 1.5em;
  font-family: "RobotoRegular";
  padding-bottom: 1em;
  line-height: 1em;
  padding-left: 8%;
}
footer {
  background-image: url(../img/main-page/footer-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-content {
  display: flex;
  text-align: center;
  align-items: center;
}
.footer-content p {
  font-family: "RobotoTh";
  font-size: 1.1em;
  color: #fff;
  letter-spacing: .1em;
  margin-left: 5%;
}
.footer-content img {
  max-width: 80%;
  margin: 5% 0;
}
@media screen and (max-width: 800px) {
  .main-slider {
    width: 100%;
  }
  .main-slider.owl-carousel .owl-nav .owl-next,
  .main-slider.owl-carousel .owl-nav .owl-prev {
    display: none;
  }
  .main-slider.owl-carousel .owl-dots {
    display: none;
  }
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .product-item p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 1400px) {
  header h1 {
    margin-top: 12%;
  }
}
@media screen and (max-width: 1600px) {
  .address p {
    padding-bottom: 0em;
  }
}
#carrier-main nav .nav_list_item a {
  color: #000;
}
#carrier-main nav .nav_list_item::after {
  content: '';
  background-color: #000;
}
#carrier-main nav .nav_list_item:hover:after {
  color: #000;
}
.carrier-main {
  background-image: url(../img/carrier-page/carrier-bg.png);
}
.carrier-main h2 {
  color: #000;
  margin-top: 10%;
  margin-bottom: 7%;
}
.carrier-main p {
  font-size: 1.5em;
  font-family: "RobotoLight";
  line-height: 1.3;
  letter-spacing: .15em;
}
.carrier-main-content {
  margin-bottom: 7%;
}
.carrier-main-content .text {
  padding: 3%;
}
.carrier-main-form {
  margin-bottom: 5%;
}
.carrier-main-form .carrier-content-form {
  padding-left: 15%;
}
.carrier-main-form .carrier-content-form .carrier-form {
  border: 2px solid #000;
}
.carrier-main-form .carrier-content-form .carrier-form input,
.carrier-main-form .carrier-content-form .carrier-form label,
.carrier-main-form .carrier-content-form .carrier-form textarea {
  color: #000;
}
.carrier-main-form .carrier-content-form .carrier-form label {
  font-size: 1em;
  padding-bottom: 1%;
}
.carrier-main-form .carrier-content-form .carrier-form input {
  border-bottom: 2px solid #000;
}
.carrier-main-form .carrier-content-form .carrier-form textarea {
  border: 2px solid #000;
}
.carrier-main-form .carrier-content-form .carrier-form #submitFF {
  color: #000;
}
.carrier-main-form .carrier-content-form .carrier-form #putFile {
  background: url(../img/carrier-page/carrier-attach-icon.png) no-repeat;
  color: #000;
}
#about-main nav .nav_list_item a {
  color: #000;
}
#about-main nav .nav_list_item::after {
  content: '';
  background-color: #000;
}
#about-main nav .nav_list_item:hover:after {
  color: #000;
}
.about-main h2 {
  color: #000;
  letter-spacing: .18em;
  margin-top: 10%;
  margin-bottom: 7%;
}
.about-main p {
  font-size: 1.5em;
  font-family: "RobotoLight";
  line-height: 1.4;
  letter-spacing: .14em;
}
.history img {
  box-shadow: 0 0 50px 6px rgba(0, 0, 0, 0.3);
}
.history p {
  padding-left: 15%;
}
.about-main-text {
  margin-top: 10%;
  width: 100%;
}
.about-main-text img {
  max-width: 10%;
  margin: auto;
  margin-bottom: 2%;
}
.about-main-text p {
  text-align: center;
  margin-bottom: 5%;
}
.qoute {
  background-image: url(../img/about-main/some-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.qoute p {
  font-style: italic;
  color: #fff;
}
.qoute {
  padding-top: 5%;
  padding-bottom: 5%;
}
.qoute-right {
  margin-left: 3%;
  transform: scale(2.5);
}
.qoute-left {
  margin-right: 3%;
  transform: scale(2.5);
}
.philosophy {
  margin-bottom: 7%;
}
.philosophy h2 {
  color: #000;
  margin-top: 10%;
  margin-bottom: 7%;
}
.philosophy-content img {
  box-shadow: 0 0 50px 6px rgba(0, 0, 0, 0.3);
}
.philosophy-content p {
  padding-left: 15%;
}
.cows {
  background-image: url(../img/about-main/cows-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 7%;
}
.cows h5 {
  color: #fff;
  margin-top: 3%;
  margin-bottom: 3%;
}
.cows-content {
  min-width: 30%;
  width: 100%;
}
.cows-item {
  height: 30%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.cows-item p {
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  font-family: "RobotoBold";
  text-transform: uppercase;
}
.cows-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.cows-img img {
  max-width: 50%;
}
.cows-text {
  width: 50%;
}
.about-logo {
  width: 100%;
}
.about-logo img {
  max-width: 100%;
}
.about-page-slider {
  padding: 3%;
}
.about-page-slider.owl-carousel .owl-nav .owl-next,
.about-page-slider.owl-carousel .owl-nav .owl-prev {
  width: 1.875em;
  height: 1.875em;
  display: block;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  outline: none;
}
.about-page-slider.owl-carousel .owl-nav .owl-next {
  background-image: url(../img/main-page/slider-right.png);
  right: 0;
}
.about-page-slider.owl-carousel .owl-nav .owl-prev {
  background-image: url(../img/main-page/slider-left.png);
  left: 0;
}
.about-page-slider.owl-carousel .owl-dots {
  text-align: center;
}
.about-page-slider.owl-carousel button.owl-dot {
  background-color: #E9E9E9;
  width: 10px;
  height: 10px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  margin: 6px;
  margin-top: 15px;
  outline: none;
}
.about-page-slider.owl-carousel button.owl-dot.active {
  background-color: #ADADAD;
  border: 1px solid #ADADAD;
}
.leadership {
  margin-bottom: 3%;
}
.leadership h2 {
  margin-top: 6%;
  margin-bottom: 5%;
}
.leadership-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.leadership-img {
  width: 50%;
}
.about-main .lead-name {
  font-family: "RobotoBold";
  font-size: 1.75em;
  line-height: 1.4;
  letter-spacing: .2em;
  margin-bottom: 2%;
}
.about-main .lead-status {
  font-family: "Robotolight";
  font-size: 1.5em;
  line-height: 1.6;
  letter-spacing: .2em;
}
.about-main .lead-text {
  font-family: "Robotolight";
  font-size: 1.5em;
  line-height: 1.6;
  letter-spacing: .2em;
  text-align: center;
}
.about-main span {
  width: 35%;
  border: none;
  background-color: #000;
  color: red;
  height: 2px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contacts-main h1 {
  color: #000;
  margin-top: 6%;
  margin-bottom: 8%;
}
.contacts-main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8%;
}
.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.address p {
  font-size: 1.5em;
  font-family: "RobotoRegular";
  padding-bottom: 1em;
  line-height: 1em;
  padding-left: 8%;
}
