footer {
	background-image: url(../img/main-page/footer-bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer-content {
	display: flex;
	text-align: center;
	align-items: center;
	p {
		font-family: "RobotoTh";
		font-size: 1.1em;
		color: #fff;
		letter-spacing: .1em;
		margin-left: 5%;
	}
	img {
			max-width: 80%;
			margin: 5% 0;
		}
}


		
		

