header {
    background-image: url(../img/main-page/main-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    h1 {
        color: #fff;
    }

    h4 {
        color: #fff;
        margin-top: 3%;
    }
}

.header-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -175px;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 7%;
    margin-bottom: 13%;
}

.product-item {
    width: 8%;
    margin-right: 2%;
    &:last-child {
        margin-right: 0;

        img {
            max-width: 70%;
        }
    }
    &:nth-child(4) {
        img {
            max-width: 45%;
        }
    }
    img {
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        transition: all .4s;
        &:hover {
            transition: .5;
            cursor: pointer;
            transform: scale(1.2);
            opacity: .6;
        }
    }
    p {
        text-align: center;
        text-transform: uppercase;
        padding-top: 15%;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 0.6em;
        line-height: 1.2;
        letter-spacing: .2em;
        color: #fff;
    }
}

.play-content {
    position: absolute;
    bottom: 7%;
    right: 7%;
    button {
        display: flex;
        align-items: center;
        background: none;
        outline: none;
        border: none;
        font-size: 1.25em;
        color: #A2AC8E;
        font-family: "RobotoRegular";
        transition: all .7s;
        &:hover {
            cursor: pointer;
            color: #fff;
            transform: scale(1.1);
        }
    }
    img {
        margin-right: 10%;
    }
}

.overlay_popup {
    display:none;
    position:fixed;
    z-index: 999;
    top:0;
    right:0; 
    left:0;
    bottom:0;
    background:#000; 
    opacity: 0.5;
}
.popup {
    display: none;
    position: relative;
    z-index: 1000;
    margin: 0 25%;
    top: 25%;
}

.object{
    text-align: center;
}