.help {
	background: url(../img/main-page/help-bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh;
	h2 {
		color: #fff;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}