.help {
	background: url(../img/main-page/help-bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	h2 {
		color: #fff;
		text-align: center;
		font-family: "Robotobk";
		font-size: 3.75em;
		letter-spacing: .25em;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}