nav {
    font-family: "RobotoRegular";
    width: 100%;
}

.nav-content {
    margin-top: 2%;
    width: 100%;
}

.logo {
    max-width: 75%;
}

.nav_list {
    width: 100%;

    li {
        padding-right: 3em;

        &:last-child {
            padding-right: 0;
            a {
                letter-spacing: 1px;
            }
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.25em;
            letter-spacing: 0.18em;
            outline: none;
        }
    }
}

.active {
    border-bottom: 3px solid #fff;
}