#about-main {
    nav {
        .nav_list_item {
            a {
                color: #000;
            }
            &::after {
                content: '';
                background-color: #000;
            }
            &:hover:after {
                color: #000;
            }
        }
    }
}

.about-main {
    h2 {
        color: #000;
        letter-spacing: .18em;
        margin-top: 10%;
        margin-bottom: 7%;
    }
    p {
        font-size: 1.5em;
        font-family: "RobotoLight";
        line-height: 1.4;
        letter-spacing: .14em;
    }
}

.history {
    img {
        box-shadow:0 0 50px 6px rgba(0,0,0,0.3);
    }

    p {
        padding-left: 15%;
    }
}

.about-main-text {
    margin-top: 10%;
    width: 100%;
    img {
        max-width: 10%;
        margin: auto;
        margin-bottom: 2%;
    }
    p {
        text-align: center;
        margin-bottom: 5%;
    }
}

.qoute {
    background-image: url(../img/about-main/some-bg.png);
    -webkit-background-size: cover;
    background-size: cover;

    p {
        font-style: italic;
        color: #fff;
    }
}

.qoute {
    padding-top: 5%;
    padding-bottom: 5%;
}

.qoute-right {
    margin-left: 3%;
    transform: scale(2.5);
}
.qoute-left {
    margin-right: 3%;
    transform: scale(2.5);
}

.philosophy {
    
    h2 {
        color: #000;
        margin-top: 10%;
        margin-bottom: 7%;
    }
}
