.about-main {
    background-image: url(../img/about-main/about-bg.png);
    h2 {
        color: #000;
        letter-spacing: .18em;
        margin-top: 13%;
        margin-bottom: 12%;
    }
    p {
        font-size: 1.5em;
        font-family: "RobotoRegular";
        line-height: 1.4;
        letter-spacing: .14em;
    }
}

.history {
    margin-bottom: 10%;
    width: 100%;
    
}
.about-main-slider {
    width: 75%;
}
// slick slider
.about-main-slider.slick-slider {
    position: relative;
    margin-left: 15%;
}
.about-slider-item {
    height: 350px !important;
}
.about-main-slider .slick-dots{
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    position: absolute;
    top: 0;
}
.about-main-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
    align-content: center;
    padding-top: 15%;
}
// arrows

// arrows //
.about-main-slider .slick-dots li {
    cursor: pointer;
    margin-right: 15%;
    list-style-type: none;
}

.about-main-slider .slick-dots li.slick-active button {
    opacity: 1 !important;
}
.about-main-slider .slick-dots li button {
    width: 60px;
    height: 60px;
    opacity: .55;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: no-repeat 0 0 / cover;
    &:hover {
        opacity: .8;
    }
}
.about-main-slider .slick-dots li:nth-child(1) button {
    background-image: url(../img/about-main/arrows-icon.png);
}
.about-main-slider .slick-dots li:nth-child(2) button {
    background-image: url(../img/about-main/map.png);
}
.about-main-slider .slick-dots li:nth-child(3) button {
    background-image: url(../img/about-main/house-icon.png);
}

// // slick slider end
.qoute {
    background-image: url(../img/about-main/some-bg.png);
    -webkit-background-size: cover;
    background-size: cover;

    p {
        font-style: italic;
        color: #fff;
        font-size: 1.5em;
    }
}

.qoute {
    padding-top: 7%;
    padding-bottom: 7%;
}

.qoute-right {
    margin-left: 3%;
    transform: scale(2);
}

.qoute-left {
    margin-right: 3%;
    transform: scale(2);
}

.philosophy {
    margin-bottom: 6%;
    h2 {
        color: #000;
        margin-top: 6%;
        margin-bottom: 6%;
    }
}

.philosophy-content {
    p {
        padding-left: 10%;
    }
}

.philosophy-content-img {
    img {
        box-shadow: 0 0 50px 6px rgba(0, 0, 0, 0.3);
    }
}

.philosophy-content-text {
    width: 95%;
    img {
        max-width: 8%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
}

.cows {
    background-image: url(../img/about-main/cows-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h5 {
        color: #fff;
        margin-top: 3%;
        margin-bottom: 6%;
    }
}

.cows-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.cows-item {
    margin-bottom: 5%;
    width: 33%;
    text-align: center;
    color: #fff;
    img {
        margin: 0 auto;
        width: 15%;
    }
    p {
        margin-top: 7%;
        line-height: 1.3;
        font-size: 1em;
        letter-spacing: .11em;
    }
}
.mzuri {
    img {
        width: 20%;
    }
}
.steel {
    img {
        width: 12%;
    }
}

.about-page-slider {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-page-slider.owl-carousel .owl-item img {
    width: 99%;
}

.about-page-slider.owl-carousel .owl-nav .owl-next,
.about-page-slider.owl-carousel .owl-nav .owl-prev {
    width: 1.875em;
    height: 1.875em;
    display: block;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    outline: none;
    transition: all .4s ease;
}

.about-page-slider.owl-carousel .owl-nav .owl-next {
    background-image: url(../img/main-page/slider-right.png);
    right: 0;
    &:hover {
        transition: all .4s ease;
        opacity: 0.6;
    }
}

.about-page-slider.owl-carousel .owl-nav .owl-prev {
    background-image: url(../img/main-page/slider-left.png);
    left: 0;
    &:hover {
        transition: all .4s ease;
        opacity: 0.6;
    }
}

.about-page-slider.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 5%;
}

.about-page-slider.owl-carousel button.owl-dot {
    background-color: #E9E9E9;
    width: 10px;
    height: 10px;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    margin: 6px;
    margin-top: 15px;
    outline: none;
}

.about-page-slider.owl-carousel button.owl-dot.active {
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
}

.leadership {
    padding-bottom: 3%;
    h2 {
        margin-bottom: 6%;
        margin-top: 6%;
    }
}

.leadership-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.leadership-img {
    width: 50%;
}

.about-main .lead-name {
    font-family: "RobotoBold";
    font-size: 1.75em;
    line-height: 1.4;
    letter-spacing: .2em;
    margin-bottom: 2%;
}

.about-main .lead-status {
    font-family: "Robotolight";
    font-size: 1.5em;
    line-height: 1.6;
    letter-spacing: .2em;
}

.about-main .lead-text {
    font-family: "Robotolight";
    font-size: 1.5em;
    line-height: 1.6;
    letter-spacing: .2em;
    text-align: center;
}

.about-main span {
    width: 35%;
    border: none;
    background-color: #000;
    color: red;
    height: 2px;
    margin-top: 3%;
    margin-bottom: 3%;
}