.contacts-main {
    h2 {
        color: #000;
        margin-top: 13%;
        margin-bottom: 7%;
    }
}

.contacts-main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12%;

    p {
        font-family: "RobotoRegular";
        font-size: 1.5em;
        letter-spacing: .05em;
        line-height: 1.2;
        padding-bottom: 3%;
    }
}

.contacts-main .submenu-block {
    width: 45%;
}

.contacts-text-1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10%;
    ul {
        padding-left: 2%;
    }
    h3 {
        font-family: "RobotoRegular";
        text-align: center;
        margin-bottom: 5%;
    }
    li {
        display: flex;
        font-size: 1.5em;
        font-family: "RobotoRegular";
        padding-bottom: 5%;
        list-style: none;
        a {
            font-size: 1em;
            color: #111;
            transition: all .4s ease;
            &:hover {
                opacity: .65;
                transition: all .2s;
            }
        }
        img {
            width: 6%;
            height: 6%;
            margin-right: 3%;
        }
    }
    .line-height {
        line-height: 1.5;
    }
}
