* {
    box-sizing: border-box;
}

body {
    font-family: "RobotoRegular";
    font-size: 1em;
    width: 100%;
    transition: width 1s;
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

.main-btn {
    width: 17em;
    a {
        display: flex;
        align-items: baseline;
        font-family: "RobotoRegular";
        font-weight: bold;
        font-size: 1.875em;
        letter-spacing: .1em;
        color: #000;
        border: none;
        background: none;
        outline: none;

        &:hover {
            text-decoration: none;
            color: #000;
        }
    }

    &:hover img {
        transform: translateX(.7em)
    }
    img {
        width: .5em;
        margin-left: .5em;
        transition: all .4s ease-in-out;
    }
}

#toTop {
    width: 5em;
    padding: .5em 15px;
    position: fixed;
    bottom: 2em;
    right: 1%;
    cursor: pointer;
    display: none;
    z-index: 666;

    &:hover {
        img {
            background: rgba(0, 0, 0, 0.9);
        }
    }
}