.container {
    max-width: 1220px;
}

/*NAV, LOGO*/
.logo img {
    width: 70%;
}

/*.menu a,
.language li {
    font-size: .9em;
}
*/
/*HEADERS*/
h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.2em;
    letter-spacing: .11em;
}

/*h4 {
    font-size: 1.1em;
}*/

h5 {
    font-size: 1.1em;
}
/*HEADER BLOCK*/
/*.product-item p {
    font-size: .5em;
}
*/
/*ABOUT BLOCK*/
.about-text p, .main-btn a{
    font-size: 1em;
}

/*CARRIER BLOCK*/
/*.carrier-content-list .list li {
    font-size: 1em;
}*/
/*.carrier-form #submitFF {
    font-size: .8em;
}*/

/*LASTNEWS BLOCK*/
/*.lastnews-text-left p, .lastnews-text-right p {
    font-size: 1em;
}*/
/*.news-date p {
    font-size: .7em !important;
}*/
.btn-date-left {
    margin-top: 19%;
}
.btn-date-right {
    margin-top: 18%;
}
.fb img {
    max-width: 45%;
}
/*BLOCK CONTACTS*/
.address p {
    font-size: 1em;
}

/*ABOUT PAGE*/
.about-main p {
    font-size: 1.1em;
}
.about-main-slider .slick-dots li button {
    width: 40px;
    height: 40px;
}
.cows-img img {
    width: 60%;
}
.cows-item p {
    font-size: .7em;
}
.about-logo img {
    max-width: 65%;
}

.about-main .lead-name {
    font-size: 1.2em;
}

.about-main .lead-status,
.about-main .lead-text {
    font-size: 1em;
}
/*CARRIER BLOCK*/
.carrier-main p {
    font-size: 1em;
}
.carrier-main h3 {
    font-size: 1.4em;
}
/*CONTACTS PAGE*/
.contacts-main-content p {
    font-size: 1em;
}

/*SUBMENU PAGES*/
/*.submenu-item img {
    width: 90%;
}*/
/*.milk img {
    width: 35%;
}*/
.block-1-content p {
    font-size: 1em;
}
/*.submenu-product {
    margin-top: 9%;
}*/
/*.block-1-content img {
    max-width: 75%;
}
*/
.submenu-banner p {
    font-size: 1.1em;
}
.submenu-contacts-text p {
    font-size: 1em;
}
#submenuform #btn_submit {
    font-size: 1em;
}
#submenuform label {
    font-size: .7em;
}
.footer-contacts img {
    width: 45%;
}