.carrier-main {
    background-image: url(../img/carrier-page/carrier-bg.png);
    h2 {
        color: #000;
        margin-top: 13%;
        margin-bottom: 1%;
    }
    h3 {
        font-family: "RobotoTh";
        font-size: 2em;
        margin-bottom: 6%;
        text-align: center;
    }
    p {
    	font-size: 1.5em;
    	font-family: "RobotoLight";
    	line-height: 1.5;
    	letter-spacing: .15em;
    }
}
.carrier-main-content {
	margin-bottom: 9%;
}

.carrier-main-right {
	margin-right: 15%;
    p {
        margin-bottom: 5%;
    }
}
.carrier-main-left {
    margin-left: 5%;
    p {
    
    }
}
.carrier-main-img {
    img {
        max-width: 80%;
    }
}
.carrier-main-img-right {
    img {
        margin-left: auto;
        max-width: 80%;
    }
}
.carrier-main-form {
	margin-bottom: 5%;
    h3 {
        font-size: 2.5em;
        font-family: "RobotoBold";
    }
    p {
        padding-bottom: 15%;
    }
}
.carrier-main-form .carrier-content-form {
	margin-left: auto;
}
.carrier-main-form .carrier-content-form .carrier-form {
    border: 2px solid #000;
    input,
    label,
    textarea {
        color: #000;
    }
    label {
        font-size: 1em;
        padding-bottom: 1%;
    }
    input {
        border-bottom: 2px solid #000;
    }
    textarea {
        border: 2px solid #000;
    }
    #submitFF {
        color: #000;
    }
    
}
.carrier-main-form .file-upload {
    margin-bottom: 10%;
}
.carrier-main-form #filename {
    border: none;
}
.carrier-main-form input[type="text"]::placeholder {
    color: #000;
}